@mixin image-box-styles {
  max-height: 480px;
  position: relative;
}

.image-box-1 {
  @include image-box-styles;
  margin-top: 10px;
}

.image-box-n {
  @include image-box-styles;
  margin-top: 15px;
}