.image-box {
  max-height: 480px;
  position: relative;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.quotation-text {
  font-style: italic;
  color: #646464;
  font-family: sans-serif;
  margin-left: 10px;
}
