.header-container {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
}

.text-input-field {
  height: 150px;
  width: 500px;
}

.modal-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #555555;
}